.addNewWrapper {
    .selectSheetContainer {
        margin-bottom: 48px;
        text-align: left;
        .itemGoogleSpreadsheet {
            margin-bottom: 24px;
            width: 35%;
        }
        .itemSelectSheet {
            width: 35%;
        }
    }
    .checkboxContainer {
        color: #000;
        margin-bottom: 24px;
        text-align: left;
    }
    .defineHeaderRowContainer {
        display: flex;
        margin-bottom: 32px;
        .text {
            color: #000;
            margin-right: 12px;
        }
        .itemInputHeaderRow {
            width: 10%;
            margin-right: 12px;
            .text {
                color: #000;
                margin-right: 12px;
            }
        }
    }
    .forExampleWrapper {
        text-align: left;
        margin-bottom: 12px;
        .forExample {
            font-size: 14px;
            color: #000;
        }
    }
    .saveBtn {
        border-radius: 4px;
        color: #fff;
        border: 1px solid #458d80;
        background-color: #458d80;
    }
}
