.configWrapper {
    width: 100%;
    .configContainer {
        display: flex;
        margin-bottom: 48px;
        .caption {
            margin: auto 24px auto 0;
            font-size: 14px;
        }
        .status {
            margin: auto 24px auto 0;
            color: #13c2c2;
        }
        .connect {
            border: 1px solid #458d80;
            background-color: #458d80;
            border-radius: 4px;
            padding: 0 24px;
            color: #fff;
        }
        .disconnect {
            background-color: #cf1322;
            border: 1px solid #cf1322;
            color: #fff;
            border-radius: 4px;
            padding: 0 24px;
        }
    }
    .tableWrapper {
        margin-bottom: 48px;
    }
    .addNewBtnWrapper {
        display: flex;
        justify-content: flex-end;
        .addNew {
            background-color: #40a9ff;
            border: 1px solid #40a9ff;
            color: #fff;
            border-radius: 4px;
        }
    }
}
