.selectWrapper {
    display: flex;
    flex-direction: column;
    .titleSelect {
        color: #000;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .select {
        border-radius: 4px;
        &.ant-select-selection-placeholder {
            color: #434343
        }
        &.ant-select-selector {
            border-radius: 4px !important;
        }
        .ant-form-item-explain.ant-form-item-explain-error{
            text-align: left;
        }
    }
    .error {
        color: #ff4d4f;
    }
}
