/* Font */
@font-face {
    font-family: DIN-Next-LT-Arabic-Regular;
    src: url(/fonts/DIN-Next-LT-Arabic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: DIN-Next-LT-Arabic-Light;
    src: url(/fonts/DIN-Next-LT-Arabic-Light.ttf) format('truetype');
}
